


</head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Plantopedia</h3>
      <nav class="nav nav-masthead justify-content-center">
       <button type="button" class="btn btn-light"><%= link_to "Login", '/login' %></button>
       <br>
        <button type="button" class="btn btn-light"><%= link_to "Sign up", '/signup' %></button>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">A place for all your plants</h1>
    <p class="lead">Plantopedia is your trusted plant catalogue and information resource.</p>
    <p class="lead">

  </main>

</div>
</body>
</html>