<h3>Living Plants</h3>
<% @alive_plant.each do |p| %>
    <ul>
    <li><%=link_to p.plant.common_name, plant_path(p) %> - <%= p.seed_date.strftime("Seeded on: %m/%d/%Y") %> <%= link_to "Show", edit_user_owned_plant_path(@user, p) %></li>
    </ul>

<% end %>
<%= link_to "Back to all your plants", user_path(@user) %>