<h1><%= @plant.common_name %></h1>
<h2><%= @plant.scientific_name %></h2>

<%= link_to "All plants", plants_path %>

<%= link_to "Add this plant to your collection", new_plant_owned_plant_path(@plant)  %>

<!-- feature where you can look at all your plant logs from the plants show page>
